* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

@media only screen and (max-width: 500px) {
  body {
    font-size: smaller;
  }
}

.app-wrapper {
  display: grid;
  grid-template-rows: 60px 1fr 60px;
}

/* NAVIGATION BAR*/

.main-nav {
  background: linear-gradient(
    90deg,
    rgba(212, 133, 85, 1) 34%,
    rgba(190, 24, 24, 1) 68%
  );
  grid-column: 1/3;
  grid-row: 1/2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
  .main-nav .logo {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .main-nav label {
    display: none;
  }
}

.selectNewsSource {
  margin: 0 10px;
  color: rgb(90, 83, 83);
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: transparent;
}

.search-btn {
  text-transform: uppercase;
  color: rgb(190, 24, 24);
  font-weight: 700;
  transition: all 0.4s;
}

.search-btn:hover {
  background-color: rgb(236, 236, 236);
  transform: scale(1.05);
}

.search-btn:active {
  transform: scale(1);
}

.search-btn {
  outline: transparent;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

@media only screen and (max-width: 768px) {
  .selectNewsSource,
  .search-btn {
    padding: 5px;
  }
}

/* MAIN COINTAINER*/

.content {
  grid-column: 1/3;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 30% 70%;
  min-height: 500px;
}

@media only screen and (max-width: 992px) {
  .content {
    grid-template-columns: 40% 60%;
  }
}

/* SEARCH RESULT LIST */

.search-results {
  background-color: rgb(241, 236, 224);
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
}

/* LIST ITEMS */

.preview {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 30% 70%;
  padding: 15px;
  cursor: pointer;
}

.img-preview {
  grid-column: 1/2;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin: 0 auto;
  object-fit: cover;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  .img-preview {
    display: none;
  }
}

.article-title {
  grid-column: 2/3;
  display: flex;
  align-items: center;
  color: rgb(37, 37, 37);
}

.article-source {
  grid-column: 2/3;
  display: flex;
  align-items: flex-start;
  font-size: 13px;
  display: block;
}

.article-source a {
  text-decoration: none;
  color: rgb(37, 37, 37);
}

@media only screen and (max-width: 768px) {
  .article-title,
  .article-source {
    grid-column: 1/3;
  }
}

@media only screen and (max-width: 768px) {
  .article-source {
    padding-top: 5px;
  }
}

/* DISPLAYED ARTICLE */

.displayed-article {
  background-color: #fff;
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.displayedArticleImg {
  overflow: hidden;
  object-fit: cover;
  max-height: 500px;
  width: 100%;
}

.displayedArticleTitle {
  text-transform: uppercase;
  text-align: center;
  padding: 20px;
  color: rgb(37, 37, 37);
  align-items: center;
}

.displayedArticleText {
  padding: 0 20px;
  text-align: center;
  align-items: center;
}

.goToNewsSourceWebsite {
  align-items: center;
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: transparent;
  display: block;
  margin: 20px auto;
  background: linear-gradient(
    30deg,
    rgba(212, 133, 85, 1) 34%,
    rgba(190, 24, 24, 1) 68%
  );
  transition: all 0.4s;
}

.goToNewsSourceWebsite:hover {
  background-color: rgb(236, 236, 236);
  transform: scale(1.05);
}

.goToNewsSourceWebsite:active {
  transform: scale(1);
}

.goToNewsSourceWebsite a {
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

@media only screen and (max-width: 992px) {
  .goToNewsSourceWebsite {
    margin: 40px auto;
  }
}

@media only screen and (max-width: 768px) {
  .goToNewsSourceWebsite {
    width: 200px;
  }
}

@media only screen and (max-width: 600px) {
  .goToNewsSourceWebsite {
    width: 100px;
  }
}

@media only screen and (max-width: 992px) {
  .displayedArticle {
    font-size: 18px;
  }
}

@media only screen and (max-width: 500px) {
  .displayedArticle {
    font-size: 15px;
  }
}

/*FOOTER*/

.main-footer {
  background-color: #be1818;
  grid-column: 1/3;
  grid-row: 3/4;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: #fff;
  cursor: pointer;
}

/* ERROR*/

.mainError {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error {
  color: rgb(90, 83, 83);
  font-weight: 300;
}

.error1 {
  color: #be1818;
  cursor: pointer;
}
